In [1]:
range(0,5)

range(0, 5)

In [2]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [3]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [4]:
x = [1,2,3,4]

In [5]:
out = []

In [11]:
for item in x:
    out.append(item**2)

In [12]:
[num**2 for num in x]

[1, 4, 9, 16]

In [14]:
out = [num**2 for num in x]
out

[1, 4, 9, 16]

In [23]:
def my_func(name='Default Name'):
    print('hello '+ name)

In [24]:
my_func('Hari')

hello Hari

In [25]:
my_func()

hello Default Name

In [26]:
my_func

In [27]:
#list comprehensions
def square(num):
    return num*num

In [29]:
f = square(4)
f

16

In [31]:
def cubed(num):
    
    """
    This function cubes a number
    """
    return num*num*num
c = cubed(9)
c

729

In [32]:
#lambda expressions, list comprehension ,for loops, while loops

In [33]:
#part 4

In [34]:
def times2(var):
    return var*2

In [38]:
seq = [1,2,3,4,5]
p=list(map(times2, seq))
p

[2, 4, 6, 8, 10]

In [40]:
t = lambda var:var*2

In [42]:
list(filter(lambda num: num%2==0, seq))

[2, 4]

In [43]:
s = "hello my name is hari"

In [48]:
s. split()
tweet = "Go, sports! #sports"

In [50]:
tweet.split('#')[1]

'sports'

In [52]:
d = {'k1': 1, "k2":2}
d.keys()

dict_keys(['k1', 'k2'])

In [53]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [54]:
lst = [1,2,3]

In [56]:
lst.pop()

3

In [57]:
lst = [1,2,3,4,5]

In [58]:
lst.pop()

5

In [59]:
lst

[1, 2, 3, 4]

In [60]:
lst.pop(2)

3

In [61]:
lst

[1, 2, 4]

In [62]:
'x' in [1,2,3]

False

In [63]:
'x' in ['x','y','z']

True

In [65]:
#Tuple unpacking
x = [(1,2),(3,4),(5,6)]
x

[(1, 2), (3, 4), (5, 6)]

In [67]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [71]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [72]:
#intro to numpy